<!DOCTYPE html>
<html>
<head>
<style>
body {
    background-color: #9CBCDA;
    padding: 0px;
}







html {
	background-color: ;
	
}

body {
	background-color: #9CBCDA;
	padding: 0px;
}

#mainContent {
	background-color: #00447c;
}

</body>
</html>